{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="flex w-screen h-screen">
    <header class="flex flex-col p-6 gap-4 bg-(--background-color) border-r flex-1 border-(--secondary-color)">
        <a class="black-btn flex gap-2 items-center px-4 py-2"
            href="{{ path('app_home', app.request.query.all|merge({ folder: null })) }}">
            <i class="fa-regular fa-house"></i>
            <p>Toutes les taches</p>
        </a>
        <p class="uppercase font-bold text-(--third-color)">Dossier</p>
        <div>
            {% for folder in folders %}
            <a href="{{ path('app_home', app.request.query.all|merge({ folder: folder.id })) }}"
                class="flex justify-between">
                <div class="flex-gap">
                    <input type="color" name="" class="w-3 h-3 border-0" value="{{folder.color}}" disabled id="">
                    <i class="fa-regular fa-folder"></i>
                    <h3 class="">{{folder.name}}</h3>
                </div>
                <p class="text-gray-500">{{folder.tasks|length}}</p>
            </a>
            {% endfor %}
        </div>
    </header>
    <div class="flex flex-col flex-5">
        <div class="flex w-full h-fit p-6 items-center justify-between">
            <div class="flex flex-col gap-2">
                <h1 class="text-xl">Gestion de taches</h1>
                <p>Organisez vos taches efficacement</p>
            </div>
            <div class="flex gap-4">
                <a href="{{ path('app_priority_new') }}" class="flex-gap ">
                    <i class="fa-solid fa-gear"></i>
                    <p>Gérer les priorités</p>
                </a>
                <a href="{{ path('app_folder_new') }}  " class="flex-gap white-btn">
                    <i class="fa-solid fa-folder-plus"></i>
                    <p>Nouveau dossier</p>
                </a>
                <a href="{{ path('app_task_new') }}" class="flex-gap black-btn">
                    <i class="fa-solid fa-plus"></i>
                    <p>Nouvelle tache</p>
                </a>
                <a href="{{ path('app_logout') }}" class="flex-gap white-btn">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <p>Deconnexion</p>
                </a>
            </div>
        </div>
        <div class="flex p-6 bg-(--background-color) border border-(--secondary-color) gap-4">
            <div class="flex-gap">
                <i class="fa-solid fa-filter"></i>
                <p>Filtres :</p>
            </div>
            <form method="get" action="{{ path('app_home') }}" class="flex gap-4">
                <input type="hidden" name="folder" value="{{ app.request.query.get('folder') }}">

                <div class="flex-gap">
                    <p>Status :</p>
                    <select name="status" onchange="this.form.submit()">
                        <option value="null">Tous</option>
                        {% for stat in status %}
                        <option value="{{ stat.id }}" {% if app.request.query.get('status')==stat.id %}selected{% endif
                            %}>
                            {{ stat.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="flex-gap">
                    <p>Priorité :</p>
                    <select name="priority" onchange="this.form.submit()">
                        <option value="">Toutes</option>
                        {% for priority in priorities %}
                        <option value="{{ priority.id }}" {% if app.request.query.get('priority')==priority.id
                            %}selected{% endif %}>
                            {{ priority.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        <div>
            {% for task in tasks %}
                
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}