{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="flex w-screen h-screen">
    <header class="flex flex-col p-4 gap-4 bg-(--background-color) border-r flex-1 border-(--secondary-color)">
        <a class="black-btn flex gap-2 items-center px-4 py-2" href="{{ path('app_home')}}">
            <i class="fa-regular fa-house"></i>
            <p>Toutes les taches</p>
        </a>
        <p class="uppercase font-bold text-(--third-color)">Dossier</p>
    </header>
    <div class="flex flex-5">
        <div class="flex w-full h-fit p-4 justify-between">
            <div class="flex flex-col gap-2">
                <h1 class="text-xl">Gestion de taches</h1>
                <p>Organisez vos taches efficacement</p>
            </div>
            <div class="flex gap-4">
                <a href="{{ path('app_priority_new') }}" class="flex-gap">
                    <i class="fa-solid fa-gear"></i>
                    <p>Gérer les priorités</p>
                </a>
                <a href="{{ path('app_folder_new') }}  " class="flex-gap">
                    <i class="fa-solid fa-folder-plus"></i>
                    <p>Nouveau dossier</p>
                </a>
                <a href="{{ path('app_task_new') }}" class="flex-gap">
                    <i class="fa-solid fa-plus"></i>
                    <p>Nouvelle tache</p>
                </a>
                <a href="{{ path('app_logout') }}" class="flex-gap">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <p>Deconnexion</p>
                </a>
            </div>
        </div>
        <div>

        </div>
    </div>

    <div>
    </div>
</div>

{% endblock %}