{{ form_start(form ,
{ 'attr': {'class': 'form-form'} }
) }}

<div>
    <p>Nom du dossier</p>
    {{ form_widget(form.name , {
    'attr': {'class': 'form-input'}
    }) }}
    {{ form_errors(form.name) }}
</div>

<div>
    <p>Couleur</p>
    {{ form_widget(form.color) }}
    {{ form_errors(form.color) }}
</div>

<div class="flex justify-end">
    <a class="white-btn" href="{{ path('app_home') }}">Annuler</a>
    <button class="btn black-btn">Créer</button>
</div>
{{ form_end(form) }}